In [2]:
import pandas as pd

from mlscorecheck.check import check_1_testset_no_kfold_scores

In [205]:
scores = {'acc': 0.486,
            'sens': 0.492,
            'ppv': 0.297}
eps = 1e-3
check_1_testset_no_kfold_scores(scores=scores,
                                eps=eps,
                                testset={'p': 994, 'n': 1020})

{'inconsistency': True,
 'details': [{'testing': 'acc',
   'score_interval': (0.484999, 0.48700099999999996),
   'n_tptn_pairs_before': 0,
   'n_tptn_pairs_after': 0,
   'decision': 'infeasible'}],
 'n_valid_tptn_pairs': 0,
 'iterate_by': 'tp',
 'solve_for': 'tn',
 'evidence': None,
 'prefiltering_details': {'inconsistency': True,
  'tp': [],
  'tn': [],
  'details': [{'base_score_0': 'acc',
    'base_score_1': 'sens',
    'base_score_0_interval': (0.48499800000000004, 0.48700199999999993),
    'base_score_1_interval': (0.49099800000000005, 0.49300199999999994),
    'tp_after': [(489, 490)],
    'tn_after': [(487, 492)],
    'inconsistency': False},
   {'base_score_0': 'acc',
    'base_score_1': 'ppv',
    'base_score_0_interval': (0.48499800000000004, 0.48700199999999993),
    'base_score_1_interval': (0.29599800000000004, 0.29800199999999993),
    'tp_after': [],
    'tn_after': [],
    'inconsistency': True},
   {'base_score_0': 'sens',
    'base_score_1': 'ppv',
    'base_score_0_interval': (0.49099800000000005, 0.49300199999999994),
    'base_score_1_interval': (0.29599800000000004, 0.29800199999999993),
    'tp_after': [],
    'tn_after': [],
    'inconsistency': True}]}}

In [3]:
import logging
logger = logging.getLogger('mlscorecheck')
logger.setLevel(logging.ERROR)

In [4]:
data = [['method', 'AVG_ACC', 'M_ACC', 'SK_ACC', 'AVG_AUC', 'M_AUC', 'SK_AUC', 'AVG_SE', 'M_SE', 'SK_SE', 'AVG_SP', 'M_SP', 'SK_SP'],
['GoogLeNet',    0.842, 0.818, 0.865, 0.848, 0.794, 0.902, 0.592, 0.496, 0.689, 0.722, 0.613, 0.831],
['AlexNet',      0.848, 0.823, 0.872, 0.830, 0.802, 0.859, 0.518, 0.470, 0.567, 0.645, 0.561, 0.728],
['ResNet',       0.828, 0.822, 0.833, 0.809, 0.757, 0.861, 0.520, 0.385, 0.656, 0.598, 0.437, 0.759],
['VGGNet',       0.813, 0.802, 0.825, 0.808, 0.766, 0.849, 0.434, 0.256, 0.611, 0.636, 0.585, 0.686],
['SP',           0.867, 0.845, 0.888, 0.875, 0.832, 0.918, 0.516, 0.376, 0.656, 0.746, 0.654, 0.838],
['PP',           0.861, 0.845, 0.877, 0.875, 0.836, 0.913, 0.524, 0.393, 0.656, 0.738, 0.650, 0.826],
['SMV',          0.903, 0.875, 0.930, 0.839, 0.789, 0.888, 0.632, 0.487, 0.778, 0.822, 0.766, 0.878],
['SMP',          0.868, 0.848, 0.887, 0.884, 0.843, 0.925, 0.551, 0.402, 0.700, 0.763, 0.689, 0.836],
['ω(1)SMP',      0.869, 0.850, 0.888, 0.886, 0.844, 0.928, 0.580, 0.427, 0.733, 0.772, 0.689, 0.855],
['ω(2)SMP',      0.866, 0.852, 0.880, 0.891, 0.851, 0.930, 0.556, 0.402, 0.711, 0.785, 0.719, 0.851]]

In [5]:
tmp = pd.DataFrame(data)
tmp.columns = tmp.iloc[0]
tmp.index = tmp['method']
tmp = tmp.drop('method', axis='rows').drop('method', axis='columns')

In [6]:
(tmp['SK_SE'] - 0.001) * 90

method
GoogLeNet    61.92
AlexNet      50.94
ResNet       58.95
VGGNet        54.9
SP           58.95
PP           58.95
SMV          69.93
SMP          62.91
ω(1)SMP      65.88
ω(2)SMP       63.9
Name: SK_SE, dtype: object

In [7]:
tmp

,AVG_ACC,M_ACC,SK_ACC,AVG_AUC,M_AUC,SK_AUC,AVG_SE,M_SE,SK_SE,AVG_SP,M_SP,SK_SP
method,,,,,,,,,,,,
GoogLeNet,0.842,0.818,0.865,0.848,0.794,0.902,0.592,0.496,0.689,0.722,0.613,0.831
AlexNet,0.848,0.823,0.872,0.83,0.802,0.859,0.518,0.47,0.567,0.645,0.561,0.728
ResNet,0.828,0.822,0.833,0.809,0.757,0.861,0.52,0.385,0.656,0.598,0.437,0.759
VGGNet,0.813,0.802,0.825,0.808,0.766,0.849,0.434,0.256,0.611,0.636,0.585,0.686
SP,0.867,0.845,0.888,0.875,0.832,0.918,0.516,0.376,0.656,0.746,0.654,0.838
PP,0.861,0.845,0.877,0.875,0.836,0.913,0.524,0.393,0.656,0.738,0.65,0.826
SMV,0.903,0.875,0.93,0.839,0.789,0.888,0.632,0.487,0.778,0.822,0.766,0.878
SMP,0.868,0.848,0.887,0.884,0.843,0.925,0.551,0.402,0.7,0.763,0.689,0.836
ω(1)SMP,0.869,0.85,0.888,0.886,0.844,0.928,0.58,0.427,0.733,0.772,0.689,0.855
ω(2)SMP,0.866,0.852,0.88,0.891,0.851,0.93,0.556,0.402,0.711,0.785,0.719,0.851

In [133]:
import numpy as np

In [139]:
np.round(np.array([2.4, 5.2, 7.6]))

array([2., 5., 8.])

In [160]:
for val in range(50, 5000):
    res = (tmp['SK_SE'].values.astype(float) * val)
    if np.mean(np.abs(res - np.round(res))) < 0.05:
        print(val, res)

90 [62.01 51.03 59.04 54.99 59.04 59.04 70.02 63.   65.97 63.99]
180 [124.02 102.06 118.08 109.98 118.08 118.08 140.04 126.   131.94 127.98]
820 [564.98 464.94 537.92 501.02 537.92 537.92 637.96 574.   601.06 583.02]
910 [626.99 515.97 596.96 556.01 596.96 596.96 707.98 637.   667.03 647.01]
1000 [689. 567. 656. 611. 656. 656. 778. 700. 733. 711.]
1090 [751.01 618.03 715.04 665.99 715.04 715.04 848.02 763.   798.97 774.99]
1180 [813.02 669.06 774.08 720.98 774.08 774.08 918.04 826.   864.94 838.98]
1820 [1253.98 1031.94 1193.92 1112.02 1193.92 1193.92 1415.96 1274.   1334.06
 1294.02]
1910 [1315.99 1082.97 1252.96 1167.01 1252.96 1252.96 1485.98 1337.   1400.03
 1358.01]
2000 [1378. 1134. 1312. 1222. 1312. 1312. 1556. 1400. 1466. 1422.]
2090 [1440.01 1185.03 1371.04 1276.99 1371.04 1371.04 1626.02 1463.   1531.97
 1485.99]
2180 [1502.02 1236.06 1430.08 1331.98 1430.08 1430.08 1696.04 1526.   1597.94
 1549.98]
2820 [1942.98 1598.94 1849.92 1723.02 1849.92 1849.92 2193.96 1974.   2067.06
 2005.02]
2910 [2004.99 1649.97 1908.96 1778.01 1908.96 1908.96 2263.98 2037.   2133.03
 2069.01]
3000 [2067. 1701. 1968. 1833. 1968. 1968. 2334. 2100. 2199. 2133.]
3090 [2129.01 1752.03 2027.04 1887.99 2027.04 2027.04 2404.02 2163.   2264.97
 2196.99]
3180 [2191.02 1803.06 2086.08 1942.98 2086.08 2086.08 2474.04 2226.   2330.94
 2260.98]
3820 [2631.98 2165.94 2505.92 2334.02 2505.92 2505.92 2971.96 2674.   2800.06
 2716.02]
3910 [2693.99 2216.97 2564.96 2389.01 2564.96 2564.96 3041.98 2737.   2866.03
 2780.01]
4000 [2756. 2268. 2624. 2444. 2624. 2624. 3112. 2800. 2932. 2844.]
4090 [2818.01 2319.03 2683.04 2498.99 2683.04 2683.04 3182.02 2863.   2997.97
 2907.99]
4180 [2880.02 2370.06 2742.08 2553.98 2742.08 2742.08 3252.04 2926.   3063.94
 2971.98]
4820 [3320.98 2732.94 3161.92 2945.02 3161.92 3161.92 3749.96 3374.   3533.06
 3427.02]
4910 [3382.99 2783.97 3220.96 3000.01 3220.96 3220.96 3819.98 3437.   3599.03
 3491.01]

In [99]:
0.496 * 117

58.032

In [100]:
0.689 * 90

62.01

In [101]:
(63 + 68) / (90 + 117)

0.6328502415458938

In [174]:
dataset = {'p': 393, 'n': 117 + 90}
dataset = {'p': 393, 'n': 117 + 90}
dataset = {'p': 117, 'n': 393 + 90}

In [175]:
acc = tmp.iloc[5]['M_SP']
sens = tmp.iloc[5]['M_SE']
spec = tmp.iloc[5]['M_ACC']

In [176]:
117 * (sens - acc) / (acc - spec)

154.20000000000005

In [202]:
tmp['n'] = tmp[['M_ACC', 'M_SE', 'M_SP']].apply(lambda row: (row['M_SE'] - row['M_SP'])/(row['M_SP'] - row['M_ACC']), axis=1)

In [203]:
tmp[['M_ACC', 'M_SE', 'M_SP', 'n']]

0          M_ACC   M_SE   M_SP         n
method
GoogLeNet  0.818  0.496  0.613  0.570732
AlexNet    0.823   0.47  0.561  0.347328
ResNet     0.822  0.385  0.437  0.135065
VGGNet     0.802  0.256  0.585  1.516129
SP         0.845  0.376  0.654  1.455497
PP         0.845  0.393   0.65  1.317949
SMV        0.875  0.487  0.766  2.559633
SMP        0.848  0.402  0.689  1.805031
ω(1)SMP     0.85  0.427  0.689  1.627329
ω(2)SMP    0.852  0.402  0.719  2.383459

In [195]:
max_false = 0
for n in range(100, 130):
    for p in range(393 + 70, 393 + 120):
        testset = {'p': p, 'n': n}
        results = []
        for idx, row in tmp.iterrows():
            result = check_1_testset_no_kfold_scores(eps=10**(-1.5),
                                                        testset=testset,
                                                        scores={'sens': row['M_SE'],
                                                                'spec': row['M_ACC'],
                                                                'acc': row['M_SP']})
            results.append(result['inconsistency'])
        
        if not any(results):
            print(p, n, results)
        if sum(res == False for res in results) > max_false:
            max_false = sum(res == False for res in results)

In [196]:
max_false

3

In [ ]:
#62, 424
#58, 296

In [98]:
tmp.iloc[0]['SK_ACC']

0.865

In [94]:
296 + 117

413

In [97]:
(58+296)/tmp.iloc[0]['M_ACC']

432.7628361858191

In [95]:
for p in [90, 117, 393, 90 + 117, 90 + 393, 117 + 393, 90 + 117 + 393]:
    print(p*tmp.iloc[0]['M_ACC'], p)

73.61999999999999 90
95.70599999999999 117
321.474 393
169.326 207
395.094 483
417.17999999999995 510
490.79999999999995 600

In [90]:
(58) / (117)

0.49572649572649574

In [70]:
(58 + 296) / 0.818

432.7628361858191

In [67]:
(58 + 296) / (393 + 90)

0.7329192546583851

In [65]:
58/90

0.6444444444444445

In [81]:
sol_idx = 0
eps = 0.001
p = 117
n = (393 + 90)
for tp in range(p+1):
    for tn in range(n+1):
        if abs(tp/p - tmp.iloc[sol_idx]['M_SE']) <= eps:
            if abs(tn/n - tmp.iloc[sol_idx]['M_SP']) <= eps:
                print(p, n, tp, tn)

117 483 58 296

In [82]:
#62, 424
#58, 296

In [73]:
tmp.iloc[0]['SK_ACC']

0.865

In [80]:
62 / (393 + 117 - 424)

0.7209302325581395

In [79]:
(424 + 62)/0.865

561.849710982659

In [17]:
sol_idx = 0
eps = 1e-3
print(tmp.iloc[sol_idx]['SK_ACC'], tmp.iloc[sol_idx]['SK_SE'], tmp.iloc[sol_idx]['SK_SP'])
for p in [90, 117, 393, 90 + 117, 90 + 393, 117 + 393, 90 + 117 + 393]:
    for n in [90, 117, 393, 90 + 117, 90 + 393, 117 + 393, 90 + 117 + 393]:
        print(p, n)
        k = 0
        p_tmp = int(p/4)
        n_tmp = int(n/4)
        for tp in range(p_tmp+1):
            for tn in range(n_tmp+1):
                if abs((tp + tn)/(p_tmp + n_tmp) - tmp.iloc[sol_idx]['SK_SP']) <= eps:
                    if abs(tp/p_tmp - tmp.iloc[sol_idx]['SK_SE']) <= eps:
                        k += 1
                        if abs(tn/n_tmp - tmp.iloc[sol_idx]['SK_ACC']) <= eps:
                            print(p, n, tp, tn)
        #print(k)

0.865 0.689 0.831
90 90
90 117
90 393
90 207
90 483
90 510
90 600
117 90
117 117
117 393
117 207
117 483
117 510
117 600
393 90
393 117
393 393
393 207
393 483
393 510
393 600
207 90
207 117
207 393
207 207
207 483
207 510
207 600
483 90
483 117
483 393
483 207
483 483
483 510
483 600
510 90
510 117
510 393
510 207
510 483
510 510
510 600
600 90
600 117
600 393
600 207
600 483
600 510
600 600

In [ ]:
# SK 90 /  M 117 / N 393

In [76]:
117 / (117 + 90)

0.5652173913043478

In [93]:
scores = {'acc': 0.818,
          'sens': 0.496,
          'spec': 0.613}
scores = {'acc': 0.613,
          'sens': 0.496,
          'spec': 0.818}


#scores = {'acc': 0.852,
#          'sens': 0.402,
#          'spec': 0.719}
#scores = {'acc': 0.719,
#          'sens': 0.402,
#          'spec': 0.852}
eps = 0.01
#dataset = {'p': 117, 'n': 483}
#dataset = {'p': 483, 'n': 117}
#dataset = {'p': 117, 'n': 90}
dataset = {'p': 393, 'n': 117 + 90}

In [94]:
n_to_p = ((scores['sens'] - scores['acc'])/(scores['acc'] - scores['spec']))

In [95]:
dataset['p']*n_to_p

224.29756097560977

In [96]:
(scores['sens'] * 117 + scores['spec'] * 66.77) / (117 + 66.77)

0.6129937421777222

In [97]:
for tp in range(dataset['p']+1):
    for tn in range(dataset['n']+1):
        if abs((tp + tn) / (dataset['p'] + dataset['n']) - scores['acc']) <= eps:
            if abs((tp) / (dataset['p']) - scores['sens']) <= eps:
                if abs((tn) / (dataset['n']) - scores['spec']) <= eps:
                    print(tp, tn)

191 171
192 170
192 171
193 169
193 170
193 171
194 168
194 169
194 170
194 171
195 168
195 169
195 170
195 171
196 168
196 169
196 170
196 171
197 168
197 169
197 170
197 171
198 168
198 169
198 170
198 171

In [98]:
check_1_testset_no_kfold_scores(testset=dataset,
                                eps=eps,
                                scores=scores,
                                prefilter_by_pairs=False)

2023-10-03 09:30:51,949:INFO:Use this function if the scores originate from the tp and tn statistics calculated on one test set with no aggregation of any kind.
2023-10-03 09:30:51,951:INFO:calling the score check with scores {'acc': 0.613, 'sens': 0.496, 'spec': 0.818}, uncertainty 0.01, p 393 and n 207
2023-10-03 09:30:51,952:INFO:testing acc, feasible tptn pairs: 208
2023-10-03 09:30:51,958:INFO:testing sens, feasible tptn pairs: 208
2023-10-03 09:30:51,960:INFO:testing spec, feasible tptn pairs: 19
2023-10-03 09:30:51,961:INFO:constructing final tp, tn pair set
2023-10-03 09:30:51,962:INFO:final number of intervals: 4
2023-10-03 09:30:51,963:INFO:final number of pairs: 26

{'inconsistency': False,
 'details': [{'testing': 'acc',
   'score_interval': (0.602999, 0.623001),
   'n_tptn_pairs_before': 208,
   'n_tptn_pairs_after': 208,
   'decision': 'continue'},
  {'testing': 'sens',
   'score_interval': (0.485999, 0.506001),
   'n_tptn_pairs_before': 208,
   'n_tptn_pairs_after': 19,
   'decision': 'continue'},
  {'testing': 'spec',
   'score_interval': (0.8079989999999999, 0.828001),
   'n_tptn_pairs_before': 19,
   'n_tptn_pairs_after': 4,
   'decision': 'continue'}],
 'n_valid_tptn_pairs': 26,
 'iterate_by': 'tn',
 'solve_for': 'tp',
 'evidence': (168, (194, 198))}

In [161]:
n = 313
p = 562 - 313

In [165]:
from mlscorecheck.individual import Interval

In [166]:
sens = 0.8861
spec = 0.9058
sens_i = Interval(sens - 1e-4, sens + 1e-4)
spec_i = Interval(spec - 1e-4, spec + 1e-4)

In [167]:
sens_i*p

(220.614, 220.6638)

In [168]:
spec_i*n

(283.4841, 283.5467)

In [163]:
sens * p

220.6389

In [164]:
spec * n

283.5154